div.row.margin-bottom-5
    div.col-sm-3.font-weight-bold.font-size-150 Education
    div.col-sm-9
        div.margin-bottom-2
            div.row.font-weight-bold
                div.col-sm-1 2012
                div.col-sm-9 Master of Computer Application
            div.row
                div.col PESIT, Bangalore,Karnataka,IN
        div.margin-bottom-2
            div.row.font-weight-bold
                div.col-sm-1 2007
                div.col-sm-9 Bachelor of Computer Application
            div.row
                div.col Jain Collage, Bangalore,Karnataka,IN