div.row.margin-bottom-5
    div.col-sm-3.font-weight-bold.font-size-150 Work Experiences
    div.col-sm-9 Working as an Software Engineer in COMPASSITES SOFTWARE SOLUTIONS PVT.LTD. ( June 2016 – Till Date). Worked as an Assosiate Software Engineer in AURIGA IT CONSULTING PVT. LTD. ( Jan 2015 – June 2016).
