div.row.margin-bottom-5
    div.col-sm-3.font-weight-bold.font-size-150 Skills
    div.col-sm-9

include sub_skills/language
include sub_skills/frameworks
include sub_skills/operating_system
include sub_skills/others