div.row.margin-bottom-5
    div.col-sm-3.font-weight-bold.font-size-150 Work Experiences
    div.col-sm-9 Hover over me and click me once to show the pop-up menu. Double click me to edit the text. You can also move me around on the page by drag and dropping me. I'm a paragraph. Hover over me
        | and click me once to show the pop-up menu. I'm a paragraph.