<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Its Me... :-) </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/style.css"/>
</head>
<body>
<header>
    <div class="row">
        <div class="w-100 text-center my-photo">
            <img src="../../public/image/20161126_214447.jpg" class="rounded-circle img-fluid rotate90 box-shadow" alt="..."
                 height="200" width="248">
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="w-100 text-center h2">
            Manjunath.M
        </div>
    </div>
    <div class="clearfix"></div>
</header>
<div class="container box-shadow">
    <div class="resume-details">
        <!-- Work Experiences -->
        <div class="row margin-bottom-5">
            <div class="col-sm-3 font-weight-bold font-size-150">Work Experiences</div>
            <div class="col-sm-9">Hover over me and click me once to show the pop-up menu. Double click me to edit the
                text. You can also move me around on the page by drag and dropping me. I'm a paragraph. Hover over me
                and click me once to show the pop-up menu. I'm a paragraph.
            </div>
        </div>

        <!-- Education -->
        <div class="row margin-bottom-5">
            <div class="col-sm-3 font-weight-bold font-size-150">Education</div>
            <div class="col-sm-9">
                <div class="margin-bottom-2">
                    <div class="row font-weight-bold">
                        <div class="col-sm-1">
                            2012
                        </div>
                        <div class="col-sm-9">
                            Master of Computer Application
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            PESIT, Bangalore,Karnataka,IN
                        </div>
                    </div>
                </div>
                <div class="margin-bottom-2">
                    <div class="row font-weight-bold">
                        <div class="col-sm-1">
                            2009
                        </div>
                        <div class="col-sm-9">
                            Bachelor of Computer Application
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Jain Collage, Bangalore,Karnataka,IN
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Skills -->
        <div class="row margin-bottom-5">
            <div class="col-sm-3 font-weight-bold font-size-150">Skills</div>
            <div class="col-sm-9"></div>
        </div>

        <!-- Sub-Skills -->
        <!-- Language -->
        <div class="row margin-bottom-5">
            <div class="col-sm-3">Language</div>
            <div class="col-sm-9">
                <div class="margin-bottom-2">
                    <div class="row margin-bottom-5">
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/html5.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/css3.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-5">
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/php.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/mysql.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-5">
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/nodejs.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/js.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-5">
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/mongodb.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                </div>
                            </div>
                        </div>
                        <div class="col">

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Frameworks -->
        <div class="row margin-bottom-5">
            <div class="col-sm-3">Frameworks</div>
            <div class="col-sm-9">
                <div class="margin-bottom-2">

                    <div class="row margin-bottom-5">
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/bootstrap.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/jquery.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-5">
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/vuejs.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/laravel.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-5">
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/yii2.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/slim.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- OS -->
        <div class="row margin-bottom-5">
            <div class="col-sm-3">Operating System</div>
            <div class="col-sm-9">
                <div class="margin-bottom-2">
                    <div class="row margin-bottom-5">
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/centos.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/ubuntu.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Others -->
        <div class="row margin-bottom-5">
            <div class="col-sm-3">Others</div>
            <div class="col-sm-9">
                <div class="margin-bottom-2">
                    <div class="row margin-bottom-5">
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/vagrant.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <img class="logo margin-bottom-2" src="../../public/image/apache.png">
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="clearfix"></div>

<div class="footer box-shadow">
    <footer>
        <div class="row">
            <div id="footer-link" class="col text-center">
                <img v-on:click="gotoGit" class="img-fluid logo" src="../../public/image/gitlogo.jpg">
                <img v-on:click="gotoBlog" class="img-fluid logo" src="../../public/image/blog.png">
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="../../public/js/script.js"></script>

</body>
</html>