extends ../layout/base-layout

append css
    link(rel='stylesheet', href='../css/style.css')

append content
    div.container.box-shadow
        include partial/resume_basic


append scripts
    script(src='../js/script.js')